<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">
  </head>
  <body>

    <nav>
      <li class="logo"><a href="/">Components!</a></li>
    </nav>
    
    <div class="row">
      <div class="col-3">
        <div id="test"></div>
      </div>
      <div class="col-3">
        <div id="user"></div>
      </div>
      <div class="col-3">
        <div id="moddy"></div>
        <div id="foods"></div>
      </div>
      <div class="col-3">
        <div id="item-list"></div>
      </div>
    </div>


    <div class="row">
      <div class="col-12"><h4>Complex</h4><hr></div>
      <div id="user-form" class="col-6"></div>
      <div id="office-form" class="col-6"></div>
    </div>
    <div class="row">
      <div id="user-list" class="col-6"></div>
      <div id="office-list" class="col-6"></div>
    </div>

  </body>

  <script src="jquery/jquery.min.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places"></script>
  <script src="js/ModBank.js" charset="utf-8"></script>
  <script src="js/examples/userOfficeExample/fake.js" charset="utf-8"></script>
  <script src="js/examples/userOfficeExample/UserList.js" charset="utf-8"></script>
  <script src="js/examples/userOfficeExample/UserForm.js" charset="utf-8"></script>
  <script src="js/examples/userOfficeExample/OfficeList.js" charset="utf-8"></script>
  <script src="js/examples/userOfficeExample/OfficeForm.js" charset="utf-8"></script>
  <script src="js/examples/userOfficeExample/app.js" charset="utf-8"></script>
  <script src="js/examples/itemTarget/itemList.js" charset="utf-8"></script>
  <script src="js/examples/itemTarget/app.js" charset="utf-8"></script>
  <script src="js/examples/example1.js" charset="utf-8"></script>
  <script src="js/examples/example2.js" charset="utf-8"></script>
</html>
